# Welcome
In this notebook, you will practice some of the python programming you have learnt over the last 2 years. We will also introduce a couple of new commands that will be useful during our analysis. 

Work on it in pairs, with one person typing (driver) and the other person asking questions or making suggestions (navigator) until you get to the answer provided. Switch roles each exercise. 

You are not expected to remember it all immediately - use the cheat sheets, ELM, google to remind yourselves. Lecturers and demonstratrs are here to help you, so please ask as many questions as you need.

# Exercise 1:
When we run an experiment, we give each sample a unique identifier. When these results are stored in a public database, this unique identifier is called an <i>accession</i>. 

In our example, the accessions are stored in the file `data/Schistosoma_mansoni/list_ids.txt`. This file contains a single word on each line, representing a sample accession. We want to use python to read the file and make a list of accessions.

This is a repetitive process: for each line in the file, we want python to (i) read the line, (ii) remove whitespace/newline characters and (iii) add the accession number to a list. We use `for` loops to perform this kind of repetitive action. You learned about `for` loops in <i>Variation</i>.

<div class="alert alert-block alert-warning">
    
Complete the `...` in the code below to make the list of accessions and print how many accessions there are in the file. 

We have provided `.append` to add the accession number to the list, and `.strip()` to remove whitespace/newline characters.

In [ ]:
# (1) Create a new list called accessions. The list will be empty for now.
accessions = []

# (2) open the file in read mode
with ...(f"...", "r") as f:
    # (3) use a for loop over the lines in the file 
    for ... :
        # (4) remove any whitespace/newline characters from the line
        # (5) add the new accession to the list
        accessions.append(line.strip())
# (6) Print how many accessions there are in te file
...(f"There are {...} accessions in the file")

In [1]:
# (1) Create a new list called accessions. The list will be empty for now.
accessions = []

# (1) open the file in read mode
with open(f"data/Schistosoma_mansoni/list_ids.txt","r") as f:
    # (2) use a for loop over the lines in the file 
    for line in f:
        # (3) remove any whitespace/newline characters from the line
        # (4) add the new accession to the list
        accessions.append(line.strip())

print(f"There are {len(accessions)} accessions in the file")

There are 12 accessions in the file

<details>
<summary><i>Hints and tips</i></summary>

    
    Note that there is more than one way to obtain the solution. 

    For example, you can open the file directly in step (1), and then you need to close the file again after the end of the loop, or you can use a `with open...` statement, in which case you need to indent the code you want to run while the file is open.

    You can combine steps (3) and (4) into a single line.

</details>

Answer:
There are 12 accessions in the file

# Exercise 2:

Tables of data are often stored in a CSV file. We can use `pandas` to read these files as 'dataframes' and work with them. You worked with pandas dataframes in <i>Data Exploration in Biology 2</i> (DExB2) and <i>Variation</i>. If you need a refresher on pandas, you can have a look [here](https://pandas.pydata.org/docs/user_guide/index.html).

<div class="alert alert-block alert-warning">
Use pandas to read the CSV 'metadata' into a dataframe called 'metadata'

In [ ]:
import pandas as pd

# (1) create a dataframe called metadata from the file
metadata = ...

# (2) have a look at the dataframe

In [2]:
import pandas as pd

# (1) create a dataframe called metadata from the file
metadata = pd.read_csv("data/Schistosoma_mansoni/metadata.csv")

# (2) have a look at the dataframe
metadata

    accession                 stage
0   ERR022872             cercarium
1   ERR022873   platyhelminth adult
2   ERR022874   3 hr schistosomulum
3   ERR022875             cercarium
4   ERR022876   3 hr schistosomulum
5   ERR022877             cercarium
6   ERR022878             cercarium
7   ERR022879   3 hr schistosomulum
8   ERR022880  24 hr schistosomulum
9   ERR022881  24 hr schistosomulum
10  ERR022882  24 hr schistosomulum
11  ERR022883  24 hr schistosomulum

Pandas has given each row a numeric id. However, we would like to use the accession number as the row identifier. In other words, we would like to use the column accession as the [index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.index.html)

<div class="alert alert-block alert-warning">
Read in the pandas dataframe again, this time using the first column as the index. Print out the index.

In [ ]:
# (1) create a dataframe called metadata from the file, using the first column as index


# (2) print the index

In [3]:
# (1) create a dataframe called metadata from the file, using the first column as index
metadata = pd.read_csv("data/Schistosoma_mansoni/metadata.csv", index_col=0)

# (2) print the index
print(metadata.index)

Index(['ERR022872', 'ERR022873', 'ERR022874', 'ERR022875', 'ERR022876',
       'ERR022877', 'ERR022878', 'ERR022879', 'ERR022880', 'ERR022881',
       'ERR022882', 'ERR022883'],
      dtype='object', name='accession')

Answer:

Index(['ERR022872', 'ERR022873', 'ERR022874', 'ERR022875', 'ERR022876',
       'ERR022877', 'ERR022878', 'ERR022879', 'ERR022880', 'ERR022881',
       'ERR022882', 'ERR022883'],
      dtype='object', name='accession')

# Exercise 3:

We often want to focus our analysis on part of a dataframe. You learned how to subset a dataframe in DExB2, week 4, class 8.

<div class="alert alert-block alert-warning">
Subset the dataframe from Exercise 2 to include only rows where the "stage" column is `cercarium`  or `24 hr schistosomulum`. How many rows are there now?

<details>
<summary><i>Hints and tips</i></summary>

You can use `isin` to subset the dataframe.

</details>

In [ ]:
# (1) create a dataframe called metadata_s with only the subset of rows

# (2) how many rows are there now?

In [4]:
# (1) create a dataframe called metadata_s with only the subset of rows
metadata_s = metadata[metadata["stage"].isin(["cercarium","24 hr schistosomulum"])]

# (2) how many rows are there now?
print(f"The new dataframe has {len(metadata_s)} rows")

The new dataframe has 8 rows

Answer:
The new dataframe has 8 rows

# Exercise 4:

We often want to combine information from more than one file. You learned how to combine datasets in DExB2, class 7.

We have a second metadata table data/Schistosoma_mansoni/metadata2.tsv. This table has an accession column, a column with the date of collection, a column with the ug of RNA obtained, and a column with the purity fo the RNA obtained. We want to combine this with the metadata table from exercise 2.

<div class="alert alert-block alert-warning">
Create a combined dataframe with `accession`, `stage` and `date` columns.

<details>
<summary><i>Hints and tips</i></summary>

You can use the command `join` to combine both dataframes

</details>

In [ ]:
# (1) create a dataframe called metadata2 from the new file

# (2) combine the dataframes metadata and metadata2

# (3) print the combined dataframe

In [12]:
# (1) create a dataframe called metadata2 from the new file
metadata2 = pd.read_csv("data/Schistosoma_mansoni/metadata2.tsv", index_col=0, sep="\t")

# (2) combine the dataframes metadata and metadata2
combined_metadata = metadata.join(metadata2)

# (3) print the combined dataframe
print(combined_metadata)

                          stage        date  ugRNA  Purity
accession
ERR022872             cercarium  2025-08-22    100      80
ERR022873   platyhelminth adult         NaN      3      15
ERR022874   3 hr schistosomulum  2025-08-22     25      86
ERR022875             cercarium  2025-08-21    192      92
ERR022876   3 hr schistosomulum  2025-08-23     54      83
ERR022877             cercarium  2025-08-22    110      95
ERR022878             cercarium         NaN     12      90
ERR022879   3 hr schistosomulum  2025-08-20     75      89
ERR022880  24 hr schistosomulum         NaN    155      63
ERR022881  24 hr schistosomulum         NaN     87      87
ERR022882  24 hr schistosomulum         NaN      9      45
ERR022883  24 hr schistosomulum  2025-08-20     48      81

Answer:

                          stage        date  ugRNA  Purity
accession                                                  
ERR022872             cercarium  2025-08-22    100       80
ERR022873   platyhelminth adult         NaN      3       15
ERR022874   3 hr schistosomulum  2025-08-22     25       86
ERR022875             cercarium  2025-08-21    192       92
ERR022876   3 hr schistosomulum  2025-08-23     54       83
ERR022877             cercarium  2025-08-22    110       95
ERR022878             cercarium         NaN     12       90
ERR022879   3 hr schistosomulum  2025-08-20     75       89
ERR022880  24 hr schistosomulum         NaN    155       63
ERR022881  24 hr schistosomulum         NaN     87       87
ERR022882  24 hr schistosomulum         NaN      9       45
ERR022883  24 hr schistosomulum  2025-08-20     48       81

<details>
<summary><i>Hints and tips</i></summary>

    In this example, both dataframes had the same set of row names in the same order. You may want to remind yourselves how you might join the dataframes if this were not the case.

</details>

# Exercise 5:

Note that several of the dates in the combined dataframe don't exist. We want to set those `NaN` to an actual value. You learned how to do this in DExB2 week 2, class 4.

<div class="alert alert-block alert-warning">
    
Set the `NaN` values to `2025-08-24`

<details>
<summary><i>Hints and tips</i></summary>

You can use the command `fillna` 
</details>

In [ ]:
# (1) fill in empty dates

# (2) print the result
print(combined_metadata)

In [13]:
# (1) fill in empty dates
combined_metadata.fillna("2025-08-24",inplace=True)

# (2) print the result
print(combined_metadata)

                          stage        date  ugRNA  Purity
accession
ERR022872             cercarium  2025-08-22    100      80
ERR022873   platyhelminth adult  2025-08-24      3      15
ERR022874   3 hr schistosomulum  2025-08-22     25      86
ERR022875             cercarium  2025-08-21    192      92
ERR022876   3 hr schistosomulum  2025-08-23     54      83
ERR022877             cercarium  2025-08-22    110      95
ERR022878             cercarium  2025-08-24     12      90
ERR022879   3 hr schistosomulum  2025-08-20     75      89
ERR022880  24 hr schistosomulum  2025-08-24    155      63
ERR022881  24 hr schistosomulum  2025-08-24     87      87
ERR022882  24 hr schistosomulum  2025-08-24      9      45
ERR022883  24 hr schistosomulum  2025-08-20     48      81

Answer:

                          stage        date  ugRNA  Purity
accession                                                  
ERR022872             cercarium  2025-08-22    100       80
ERR022873   platyhelminth adult  2025-08-24      3       15
ERR022874   3 hr schistosomulum  2025-08-22     25       86
ERR022875             cercarium  2025-08-21    192       92
ERR022876   3 hr schistosomulum  2025-08-23     54       83
ERR022877             cercarium  2025-08-22    110       95
ERR022878             cercarium  2025-08-24     12       90
ERR022879   3 hr schistosomulum  2025-08-20     75       89
ERR022880  24 hr schistosomulum  2025-08-24    155       63
ERR022881  24 hr schistosomulum  2025-08-24     87       87
ERR022882  24 hr schistosomulum  2025-08-24      9       45
ERR022883  24 hr schistosomulum  2025-08-20     48       81

# Exercise 6:

Sometimes, we need to filter the rows of a dataset based on the values in several columns. You learned how to do that in DExB2 week 4, class 8.

<div class="alert alert-block alert-warning">
    
Filter the dataframe from the previous exercise (combined_metadata) so that it only contains samples with more than 50 ug of RNA and purity of 80 or more

<details>
<summary><i>Hints and tips</i></summary>

Use the syntax `dataframe[(dataframe[column1]condition) & (dataframe[column2]condition)]`
</details>

In [ ]:
# (1) create a filtered dataframe


# (2) print the result
print(filtered_metadata)

In [14]:
# (1) create a filtered dataframe
filtered_metadata=combined_metadata[(combined_metadata.ugRNA>50)&(combined_metadata.Purity>=80)]

# (2) print the result
print(filtered_metadata)

                          stage        date  ugRNA  Purity
accession
ERR022872             cercarium  2025-08-22    100      80
ERR022875             cercarium  2025-08-21    192      92
ERR022876   3 hr schistosomulum  2025-08-23     54      83
ERR022877             cercarium  2025-08-22    110      95
ERR022879   3 hr schistosomulum  2025-08-20     75      89
ERR022881  24 hr schistosomulum  2025-08-24     87      87

Answer:
                          stage        date  ugRNA  Purity
accession                                                 
ERR022872             cercarium  2025-08-22    100      80
ERR022875             cercarium  2025-08-21    192      92
ERR022876   3 hr schistosomulum  2025-08-23     54      83
ERR022877             cercarium  2025-08-22    110      95
ERR022879   3 hr schistosomulum  2025-08-20     75      89
ERR022881  24 hr schistosomulum  2025-08-24     87      87

Sometimes, it is also useful to find out the minimum or maximum value in a column of a dataframe. You revised how to do this in DExB2 class 7

<div class="alert alert-block alert-warning">

Find the sample with the highest ugRNA in the dataframe

<details>
<summary><i>Hints and tips</i></summary>

Use `.max()`
</details>

In [ ]:
# find the maximum value for ugRNA

In [16]:
# find the maximum value for ugRNA
filtered_metadata["ugRNA"].max()

192

Answer:

192